{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
    .section-header h2 {
        color: #416327 !important;

    }

    .page-header {
        background-color: #416327 !important;
    }
    .contact .contact-info {
        background: #416327 !important;
    }

    .link-blog {
        color: #416327 !important;
    }

    .link-blog:hover {
        color: #579c23 !important;
    }

    .single .single-comment {
        position: relative;
        margin-bottom: 45px;
    }

    .single .single-comment h2 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .single .comment-list {
        list-style: none;
        padding: 0;
    }

    .single .comment-child {
        list-style: none;
    }

    .single .comment-body {
        display: flex;
        margin-bottom: 30px;
    }

    .single .comment-img {
        width: 60px;
    }

    .single .comment-img img {
        width: 100%;
        border-radius: 60px;
    }

    .single .comment-text {
        padding-left: 15px;
        width: calc(100% - 60px);
    }

    .single .comment-text h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 3px;
    }

    .single .comment-text span {
        display: block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .single .comment-text .btn {
        padding: 3px 10px;
        font-size: 14px;
        font-weight: 500;
        color: #202C45;
        background: #dddddd;
        border-radius: 5px;
    }

    .single .comment-text .btn:hover {
        color: #ffffff;
        background: #E81C2E;
    }

    .single .comment-form {
        position: relative;
    }

    .single .comment-form h2 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .single .comment-form form {
        padding: 30px;
        background: #f3f6ff;
        border-radius: 5px;
    }

    .single .comment-form form .form-group:last-child {
        margin: 0;
    }

    .single .comment-form input,
    .single .comment-form textarea {
        border-radius: 5px;
        border-color: #eeeeee;
    }

    .single .comment-form input:focus,
    .single .comment-form textarea:focus {
        border-color: #E81C2E;
    }

    .single .comment-form .btn {
        border-radius: 45px;
    }
    .contact .contact-info {
        background: #416327 !important;
    }

    .contact .contact-item {
        border: 2px solid #000 !important;
    }

    .contact .contact-item i {
        color: #fef22e !important;
        border: 2px solid #ffff !important;
    }

    .contact .contact-text h2 {
        color: #fef22e !important;
    }

    .contact .contact-text p {
        color: #000 !important;
        
    }
    .a-link {
        color: #000;
    }
    .btn {
        background-color: #416327 !important;
        color: white !important;
    }
    .btn:hover {
        background-color: #fef22e !important;
        color: #000 !important;
    }
</style>

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Single Page</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'service' %}">Service</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Single Page Start -->
<div class="single">
    <div class="container">

        <div class="section-header">
            <h2>Service</h2>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <img class="img-fluid rounded" src="{{service.image.url}}" width="100%" height="180"
                    alt="TimePlus Cleanings Image">

                <div class="">
                    <h3 class="link-blog" href="">{{ service.name }}</h3>
                </div>
                <p>
                    {{ service.body |escape |linebreaks}}.
                </p>
            </div>

            <div class="col-sm-4 contact">
                {% for serve in services %}
                <div class="contact-info">
                    <div class="contact-item">
                        <!-- <i class="fa fa-map-marker-alt"></i> -->
                        <div class="contact-text">
                            <h2><a class="a-link" href="#">{{ serve.name }}</a></h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>

            <!-- <div class="col-sm-4">
                <i class="fa fa-list-alt"></i>
                <a class="link-blog" href="">{{ service.service }}</a>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-calendar-alt"></i>
                <a class="link-blog" href="">{{ blog.created | timesince }} :ago</a>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-calendar-alt"></i>
                <a class="link-blog" href="">{{ blog.host }}</a>
            </div> -->

            <div class="col-sm-12">
                
            </div>

            <div class="single-comment">
                <h2>{{comments.count}} Comments</h2>
                <ul class="comment-list">
                    {% for comment in comments %}
                    <li class="comment-item">
                        <div class="comment-body">
                            <div class="comment-img">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <div class="comment-text">
                                <h3><a href="">{{comment.user}}</a></h3>
                                <span>{{comment.created | timesince }} :ago</span>
                                <p>
                                    {{comment.body}}
                                </p>

                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <div class="contact-form">
                    <h2>Leave a comment</h2>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %}
                            class="{{ message.tags }} bg-success text-center text-light p-2 rounded-pill" {% endif %}>{{
                            message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="user" class="form-control" placeholder="Your Name"
                                required="required" />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Your Email"
                                required="required" />
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="body" placeholder="Message"
                                required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
</div>
</div>
<!-- Single Page End -->

{% endblock %}