{% extends 'main.html' %}

{% block content %}

{% load static %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<style>
    .page-header {
        background-color: #416327 !important;
    }

    .section-header h2 {

        color: #416327 !important;
    }

    .service {
        background-color: #416327 !important;
    }

    h3 {
        color: #416327 !important;
    }

    .service .service-item {

        background: #f3f5f7 !important;

    }

    .service .service-icon {

        background: #d4cfcf !important;
    }

    .service .service-icon i {

        color: #aa9166;
        background: #121518;
        transition: .5s;
    }

    .service .service-item p {
        margin: 0;
        color: #999999;
        padding: 0 25px 25px 25px;
        font-size: 18px;
        align-items: flex-start !important;
    }

    .service .service-item a.btn {
        color: #fff !important;
        border: 2px solid #000 !important;
        background: #416327 !important;
        transition: .3s;
    }

    .service .service-item:hover a.btn {
        color: #000 !important;
        background: #fef22e !important;
    }

    .service .service-item p {
        color: #000 !important;
    }

    .feature .feature-icon {
        height: 180px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #416327 !important;
    }

    .feature .feature-icon i {
        width: 100px;
        height: 100px;
        padding: 20px 0;
        text-align: center;
        font-size: 60px;
        color: #fef22e !important;
        background: #416327 !important;
        transition: .5s;
    }

    .feature-top .feature-item p {
        color: #000 !important;

    }
    
    .appointment {
        background-color: #416327 !important;
    }
    .btn-primary {
        background-color: #62923d;
    }
    .btn-primary:hover {
        background-color: #fef22e;
        color: #000;
    }
</style>

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Our Services</h2>
            </div>
            <div class="col-12">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'service' %}">Our Services</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header">
            <h1>Our Cleaning Service</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon ">
                        <img src="{% static 'img/service1.jpg' %}" width="300%" alt="">
                    </div>
                    <h3>Residential Cleaning</h3>


                    <p>Kitchen</p>
                    <p>Bathrooms</p>
                    <p>Bedrooms</p>
                    <p>Windows</p>
                    <p>Carpet</p>
                    <p>Move in/out</p>




                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="{% static 'img/service2.jpg' %}" width="100%" alt="">
                    </div>
                    <h3>Commercial Cleaning</h3>
                    <p>Kitchen</p>
                    <p>Bathrooms</p>
                    <p>Bedrooms</p>
                    <p>Windows</p>
                    <p>Carpet</p>
                    <p>Move in/out</p>
                    <a class="btn" href="">Learn More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="{% static 'img/service3.jpg' %}" width="100%" alt="">
                    </div>
                    <h3>Office Cleaning</h3>
                    <p>Vacuuming Carpet</p>
                    <p>Mopping Floor</p>
                    <p>Peripheral Device</p>
                    <p>Desk Cleaning</p>
                    <p>Arranging Cabbles</p>
                    <p>Move in/out</p>
                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Feature Start -->
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-header">
                    <h2>Why Choose Us</h2>
                </div>
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <div class="feature-icon">
                            <i class="fa fa-gavel"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <h3>Best cleaning services</h3>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit
                            non vulputate.
                        </p>
                    </div>
                </div>
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <div class="feature-icon">
                            <i class="fa fa-balance-scale"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <h3>Efficiency & Trust</h3>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit
                            non vulputate.
                        </p>
                    </div>
                </div>
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <div class="feature-icon">
                            <i class="far fa-smile"></i>
                        </div>
                    </div>
                    <div class="col-7">
                        <h3>Results you deserve</h3>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit
                            non vulputate.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="feature-img">
                    <img src="{%static 'img/img-6.png' %}" alt="Feature">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

<!-- Appointment Start -->
<div class="appointment container-fluid py-5">
    <div class="container py-5">
        <div class="bg-appointment rounded">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-lg-6 py-5">
                    <div class="rounded p-5 my-5" style="background: rgba(13, 14, 13, 0.7);">
                        <h1 class="text-center text-white mb-4">Get An Appointment</h1>
                        <form>

                            <div class="form-group">
                                <select class="custom-select border-0 px-4" style="height: 47px;">
                                    <option value="0">Property Type</option>
                                    <option value="Bungalow">Bungalow</option>
                                    <option value="Mansionete Apartment">Mansionete Apartment</option>
                                    <option value="Plot">Plot</option>
                                </select>
                            </div>

                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <select class="custom-select border-0 px-4" style="height: 47px;">
                                            <option value="0">-- Bedrooms --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <select class="custom-select border-0 px-4" style="height: 47px;">
                                            <option value="0">-- Frequency --</option>
                                            <option value="Daily">Daily</option>
                                            <option value="Monthly">Monthly</option>
                                            <option value="Yearly">Yearly</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="date" id="date" data-target-input="nearest">
                                            <input type="date" class="form-control border-0 p-4 datetimepicker-input"
                                                placeholder="Select Date" data-target="#date"
                                                data-toggle="datetimepicker" data-error="Message field is required" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <div class="time" id="time" data-target-input="nearest">
                                            <input type="time" class="form-control border-0 p-4 datetimepicker-input"
                                                placeholder="Select Time" data-target="#time"
                                                data-toggle="datetimepicker" data-error="Message field is required" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control border-0 p-4" placeholder="Your Name"
                                        data-error="Message field is required" required />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="tel" class="form-control border-0 p-4" placeholder="Your Phone"
                                        data-error="Message field is required" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 p-4" placeholder="Your Email"
                                data-error="Message field is required" required />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control border-0 p-4"  name="message" id="" width="100%"  data-error="Message field is required" required>Say something</textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block border-0 py-3" type="submit">Get An
                                    Appointment</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->



{% endblock %}